.exercise {
  position: relative;
}

.switcher {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 300px;
  text-align: right;
  cursor: pointer;
}

.switcher .knob {
  position: relative;
  display: inline-block;
  width: 50px;
  border: 1px solid #000000;
  border-radius: 12px;
}

.switcher .knob::after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 21px;
  height: 21px;
  background: #000000;
  border-radius: 50%;
  content: '';
}

.switcher.black .knob {
  background: #000000;
}

.switcher.black .knob::after {
  left: auto;
  right: 1px;
  background: #FFFFFF;
}

.hidden {
  display: none;
}